@import "reset.css";

#wrap {
  margin: 0 auto;
  width: 100%;
  max-width: 1800px;
  padding-top: 90px;
}

html {
  height: 100%;
}
body {
  position: relative;
  margin: 0;
  min-height: 100%;
  font-family: 'Candara', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
button {
  width: 100%;
  padding: 15px;
  border: none;
  background: #1d2833;
  color: #89b927;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 40px;
}
button:hover {
  background: darkgrey;
}
/* HEADER */
header nav .logo {
  height: 50px;
  float: left;
  margin: 20px 0 0 20px;
}
header nav ul {
  float: right;
  margin-top: 40px;
}
header nav ul li {
  float: left;
  margin-right: 40px;
}
header nav ul li a {
  padding: 15px 30px;
  text-decoration: none;
  color: white;
  background-color: #4682B4;
}
header nav ul li a:hover {
  color: #008ebf;
}
/* INSCRIPTION DU CANDIDAT */
.inscuser {
  margin: 0 auto;
  width: 50%;
  max-width: 400px;
  background-color: white;
  font-size: 0.8em;
  color: #89b927;
}
.inscuser .formdiv {
  margin-bottom: 20px;
}
.inscuser [type=text], [type=password] {
  width: 100%;
  padding: 15px;
  border: none;
  background: #1d2833;
}
.candid [type=submit] {
  text-align: center;
  width: 100%;
  padding: 15px;
  border: none;
  background: #1d2833;
  color: #89b927;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 40px;
}
.candid [type=submit]:hover {
  background-color: darkgrey;
}
/* INSCRIPTION DU RECRUTEUR */
.inscrecruteur {
  margin: 0 auto;
  width: 50%;
  max-width: 400px;
  background-color: white;
  margin-top: 120px;
  font-size: 0.8em;
  color: #89b927;
}
.inscrecruteur .formdiv {
  margin-bottom: 20px;
}
.inscrecruteur [type=text], [type=password], [type=number] {
  width: 100%;
  padding: 15px;
  border: none;
  background: #1d2833;
}
.recrut [type=submit] {
  text-align: center;
  width: 100%;
  padding: 15px;
  border: none;
  background-color: #1d2833;
  color: #89b927;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 40px;
}
.recrut [type=submit]:hover {
  background-color: darkgrey;
}
/* CONNEXION */
.connexion {
  margin: 0 auto;
  width: 50%;
  max-width: 400px;
  background-color: white;
  font-size: 0.8em;
  color: #89b927;
}
.connexion .formdiv {
  margin-bottom: 20px;
}
.connexion [type=text], [type=password] {
  width: 100%;
  padding: 15px;
  border: none;
  background: #1d2833;
}
.login [type=submit] {
  text-align: center;
  width: 100%;
  padding: 15px;
  border: none;
  background: #1d2833;
  color: #89b927;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 40px;
}
.login [type=submit]:hover {
  background-color: lightgrey;
}
